apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    yolo: backend
spec:
  type: NodePort
  selector:
    yolo: backend
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500
